In [18]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, MaxAbsScaler, RobustScaler

In [12]:
data = pd.read_excel('./test-data-1.xlsx', header=0, index_col=0)
data.iloc[0:3, 0:3]

           A56  A38     X56
formula
AcAg2O4  6.293  142  13.768
AcAl2O4  6.293  142  13.584
AcAs2O4  6.293  142     NaN

In [13]:
data1 = data.fillna(data.mean())
data1.iloc[0:3, 0:3]

           A56  A38        X56
formula
AcAg2O4  6.293  142  13.768000
AcAl2O4  6.293  142  13.584000
AcAs2O4  6.293  142  17.892121

In [14]:
import pandas as pd
import numpy as np

# 假设df是一个Pandas DataFrame，我们想要对其进行均值归一化
df = pd.DataFrame({
    'feature1': [1, 2, 3, 4, 5],
    'feature2': [10, 20, 30, 40, 50]
})

# 计算每列的均值和标准差
mean = df.mean()
std = df.std()

# 应用均值归一化
normalized_df = (df - mean) / std

print("原始数据:\n", df)
print("\n均值归一化后的数据:\n", normalized_df)

原始数据:
    feature1  feature2
0         1        10
1         2        20
2         3        30
3         4        40
4         5        50

均值归一化后的数据:
    feature1  feature2
0 -1.264911 -1.264911
1 -0.632456 -0.632456
2  0.000000  0.000000
3  0.632456  0.632456
4  1.264911  1.264911

In [16]:
df = pd.read_excel('./test-data.xlsx', header=0, index_col=0)
df.head()

,A56,A38,X56,A15,A7,A46,A51,A22,X21,A3,...,A28,A30,A55,A44,B15,A52,A18,A53,X43,max_dAB
formula,,,,,,,,,,,,,,,,,,,,,
AcAg2O4,6.293,142,13.768,4.6,0.261,102,3.585,10.944,2135.2,97,...,121.31,125,9,1,10.80,199,1788.5,5.5,35.0,6.029
AcAl2O4,6.293,142,13.584,4.6,0.261,102,3.585,10.944,2302.4,97,...,121.31,125,9,1,10.00,199,1788.5,5.5,32.2,8.002
AcAs2O4,6.293,142,15.552,4.6,0.261,102,3.585,10.944,2206.8,97,...,121.31,125,9,1,11.00,199,1788.5,5.5,43.4,6.772
AcAu2O4,6.293,142,13.732,4.6,0.261,102,3.585,10.944,2461.2,97,...,121.31,125,9,1,12.08,199,1788.5,5.5,35.0,7.155
AcB2O4,6.293,142,10.100,4.6,0.261,102,3.585,10.944,3247.6,97,...,121.31,125,9,1,11.00,199,1788.5,5.5,28.6,7.255

In [20]:
scaler = MinMaxScaler()
df1= pd.DataFrame(scaler.fit_transform(data), columns=data.columns, index=data.index)
df1.head()

,A56,A38,X56,A15,A7,A46,A51,A22,X21,A3,...,A28,A30,A55,A44,B15,A52,A18,A53,X43,max_dAB
formula,,,,,,,,,,,,,,,,,,,,,
AcAg2O4,1.0,0.0,0.084986,0.0,0.0,0.0,1.0,0.0,0.283340,1.0,...,1.0,1.0,0.0,1.0,0.652174,0.0,0.0,1.0,0.513274,0.625772
AcAl2O4,1.0,0.0,0.080723,0.0,0.0,0.0,1.0,0.0,0.336379,1.0,...,1.0,1.0,0.0,1.0,0.434783,0.0,0.0,1.0,0.389381,0.879763
AcAs2O4,1.0,0.0,NaN,0.0,0.0,0.0,1.0,0.0,0.306053,1.0,...,1.0,1.0,0.0,1.0,0.706522,0.0,0.0,1.0,0.884956,0.721421
AcAu2O4,1.0,0.0,0.084152,0.0,0.0,0.0,1.0,0.0,0.386753,1.0,...,1.0,1.0,0.0,1.0,1.000000,0.0,0.0,1.0,0.513274,0.770726
AcB2O4,1.0,0.0,0.000000,0.0,0.0,0.0,1.0,0.0,0.636214,1.0,...,1.0,1.0,0.0,1.0,0.706522,0.0,0.0,1.0,0.230088,0.783599

In [ ]:
pd.DataFrame(scaler.fit_transform(data), columns=data.columns, index=data.index)

In [22]:
import pandas as pd
from scipy import stats
import numpy as np

def detect_outliers(df):
    """
    检测异常值并返回一个包含异常值信息的DataFrame。
    """
    outliers = []

    for col in df.select_dtypes(include=np.number).columns:
        z_score = np.abs(stats.zscore(df[col].dropna()))  # 排除NaN值
        outliers_indices = df.index[(z_score > 3)]  # 通常Z-score大于3认为是异常值
        outliers.extend([(index, col) for index in outliers_indices])

    # 如果检测到异常值，返回包含它们的DataFrame
    if outliers:
        outliers_df = pd.DataFrame(outliers, columns=['Index', 'Column'])
        return outliers_df
    else:
        return pd.DataFrame(columns=['Index', 'Column'])

def fill_outliers(df, method='mean'):
    """
    处理异常值。
    可选方法包括 'mean', 'median', 'mode', 'drop_row', 'drop_col'
    """
    for col in df.select_dtypes(include=np.number).columns:
        z_score = np.abs(stats.zscore(df[col]))
        outlier_indexes = df[z_score > 3].index
        
        if method == 'mean':
            df.loc[outlier_indexes, col] = df[col].mean()
        elif method == 'median':
            df.loc[outlier_indexes, col] = df[col].median()
        elif method == 'mode':
            df.loc[outlier_indexes, col] = df[col].mode()[0]
        elif method == 'drop_row':
            df.drop(index=outlier_indexes, inplace=True)
        elif method == 'drop_col':
            df.drop(columns=col, inplace=True)
    return df

# 读取数据
data = pd.read_excel('./test-data.xlsx', header=0, index_col=0)

# 检测异常值
outliers = detect_outliers(data)
print("检测到的异常值:\n", outliers)

# 处理异常值
# 这里可以选择 'mean', 'median', 'mode', 'drop_row', 'drop_col' 其中的一个
method = 'mean'
data_clean = fill_outliers(data, method)
print(f"\n异常值处理后的数据（使用{method}方法）:\n", data_clean.head())

检测到的异常值:
       Index Column
0   AcCs2O4    X56
1   AcRb2O4    X56
2   AcOs2O4     X7
3   AcRu2O4     X9
4   AgRu2O4     X9
5   AcBe2O4    B20
6   AcLi2O4    B20
7   AgBe2O4    B20
8   AcMg2O4    X16
9   AgMg2O4    X16
10  AcAu2O4    X12
11  AcPt2O4    X12
12  AcTe2O4    X12
13  AcHg2O4    B51
14  AcSi2O4    B22
15  AcLi2O4    X19
16  AcNa2O4    X19
17  AcRe2O4    X10
18  AcCs2O4    X49
19  AcHg2O4    X49
20  AcFe2O4    X52
21  AgFe2O4    X52
22  AcMg2O4    B50
23  AgMg2O4    B50
24  AcTl2O4    B26
25  AcCs2O4    B11
26  AcGd2O4    X54
27  AgGd2O4    X54
28   AcW2O4     B2
29  AcTe2O4    B24
30  AcTe2O4    B44

异常值处理后的数据（使用mean方法）:
            A56  A38     X56  A15     A7  A46    A51     A22     X21  A3  ...  \
formula                                                                  ...
AcAg2O4  6.293  142  13.768  4.6  0.261  102  3.585  10.944  2135.2  97  ...
AcAl2O4  6.293  142  13.584  4.6  0.261  102  3.585  10.944  2302.4  97  ...
AcAs2O4  6.293  142  15.552  4.6  0.261  102  3.585  10.944  2206.8  97  ...
AcAu2O4  6.293  142  13.732  4.6  0.261  102  3.585  10.944  2461.2  97  ...
AcB2O4   6.293  142  10.100  4.6  0.261  102  3.585  10.944  3247.6  97  ...

            A28  A30  A55  A44    B15  A52     A18  A53   X43  max_dAB
formula
AcAg2O4  121.31  125    9    1  10.80  199  1788.5  5.5  35.0    6.029
AcAl2O4  121.31  125    9    1  10.00  199  1788.5  5.5  32.2    8.002
AcAs2O4  121.31  125    9    1  11.00  199  1788.5  5.5  43.4    6.772
AcAu2O4  121.31  125    9    1  12.08  199  1788.5  5.5  35.0    7.155
AcB2O4   121.31  125    9    1  11.00  199  1788.5  5.5  28.6    7.255

[5 rows x 74 columns]